<html layout:decorate="~{layout}">
<div layout:fragment="content" class="container my-3">
<body>
<h4 th:text="${article.title}"></h4>
<div th:text="${article.content}"></div>
<div class="mb-2">
    <span th:if="${article.author != null}" th:text="${article.author.username}"></span>
</div>
<div th:if="${article.modifyDate != null}" class="badge bg-light text-dark p-2 text-start mx-3">
    <div class="mb-2">modified at</div>
    <div th:text="${#temporals.format(article.modifyDate, 'a.yyyy-MM-dd HH:mm')}"></div>
</div>
<div>
<a th:href="@{|/update/${article.id}|}" sec:authorize="isAuthenticated()" th:if="${article.author != null and
#authentication.getPrincipal().getUsername() == article.author.username}">
    <input type="submit" value="수정!">
</a>
<form th:action="@{|/delete/${article.id}|}" method="post" sec:authorize="isAuthenticated()"
th:if="${article.author != null and #authentication.getPrincipal().getUsername() == article.author.username}">
    <input type="submit" value="삭제!"onclick="return confirm('정말로 삭제하시겠습니까?')">
</form>
</div>
<a href="/">목록으로</a>
</body>
</div>
</html>